# Pakai python 
# FastAPI and Server
fastapi
uvicorn
python-multipart

# Database
sqlalchemy
python-dotenv

# ML related
numpy
pandas==2.2.3
scikit-learn==1.6.1
joblib

# API Documentation
pydantic

# Testing
pytest
httpx
requests

# logging
loguru